.App {
  text-align: center;
  min-height: 100vh;
  background-color: aliceblue;
}

.App-header {
  background-color: #282c34;
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 7vmin;
  color: white;
  font-weight: bold;
}

.Login {
  font-size: 4vmin;
}

.Login button,
.MostVoted button {
  width: 27%;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
  font-size: 3vmin;
  height: 3vh;
}

.Nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Nav button {
  width: 33%;
  height: 3vh;
  margin-top: 3vh;
  font-size: 3vmin;
}

.MostVoted {
  margin-top: 3vh;
  border-top: 3px solid;
}

.MostVoted h3 {
  font-size: 6vmin;
}

.MostVotedReview {
  text-align: justify;
  padding: 0 7% 0 7%;
  font-size: 5vmin;
  border: 1px solid;
  margin: 0 7% 4% 7%;
}

.MostVotedCount {
  font-size: 4vmin;
}

.MostVoted button {
  margin-bottom: 3vh;
}
